# Built Files
build

matlab/util/*.dll
matlab/util/*.mexw64

matlab/SHREC2013/*.dat
matlab/SHREC2013/Models/*.off
matlab/SHREC2013/Views/*.png
matlab/SHREC2013/Views/*.xf
matlab/SHREC2013/Sketches/**/*.png

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
